#adduser{
    padding: 20px;
    background-color: #eee; 
    
  }

#listuser{
  padding: 20px;
}

.row{
  padding: 10px;
}


input:focus, textarea:focus {
    box-shadow: 0 0 5px #FFD593;
    border: 1px solid #FFD593;
}
  
