/* You can add global styles to this file, and also import other style files */

.panel-heading{
    background:#ff919f;
}

.btn{
    border-radius: 16px;
}

.form-control{
    border-radius: 16px;
}
