<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">

    <div class="container"><code class="btn" >Task Manager</code></div>

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <ul class="nav nav-tabs">
                <li>
                    <a routerLink="/add-project">
                        <button class="raise title-1">Add Project</button>
                    </a></li>
                <li>
                    <a routerLink="/add-task">
                        <button class="raise title-2">Add Task</button>
                    </a></li>
                <li>
                    <a routerLink="/add-user">
                        <button class="raise title-3">Add User</button>
                    </a></li>
                <li>
                    <a routerLink="/view-task">
                        <button class="raise title-4">View Task</button>
                    </a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
